/node_modules
/internal/webui/static/*

/internal/store/*
!/internal/store/database.go
!/internal/store/migrate.go
!/internal/store/sqlite.go
/view/**/*_templ.go

/app

.DS_Store
.fleet
.idea
*.db

.env*
!.env.example

.git

LICENSE-MIT
LICENSE-APACHE
NOTICE
*.md
Makefile
compose.yml
