ENVIRONMENT=dev
SQLITE_DATABASE_PATH=./database.db
#MYSQL_DSN=user:pass@tcp(127.0.0.1:3306)/dbname?charset=utf8mb4&parseTime=True&loc=Local

HOST_ADDRESS=1.2.3.4
GRACEFUL_TIMEOUT=10s
HTTP_ADDRESS=:8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345678
