/frontend/dist
/frontend/node_modules/
/frontend/.nuxt/
/frontend/.output/

/backend/internal/store/*
!/backend/internal/store/database.go
!/backend/internal/store/migrate.go
!/backend/internal/store/sqlite.go
/backend/internal/webui/dist/

# Misc
**/.DS_Store
**/.fleet
**/.idea
**/*.db

.env
.env.*
!.env.example
