package pages

import (
	"github.com/FortiBrine/VoidShift/internal/i18n"
	"github.com/FortiBrine/VoidShift/view/components/ui/alert"
	"github.com/FortiBrine/VoidShift/view/components/ui/button"
	"github.com/FortiBrine/VoidShift/view/components/ui/card"
	"github.com/FortiBrine/VoidShift/view/components/ui/form"
	"github.com/FortiBrine/VoidShift/view/components/ui/input"
	"github.com/FortiBrine/VoidShift/view/layouts"
)

templ Login(loc *i18n.Localizer, username string, formError string, fieldErrors map[string][]string) {
	@layouts.Auth(i18n.T(loc, "login.title")) {
		@card.Card() {
			@card.Header() {
				@card.Title() {
					{ i18n.T(loc, "login.card_title") }
				}
				@card.Description() {
					{ i18n.T(loc, "login.card_description") }
				}
			}
			@card.Content() {
				if formError != "" {
					@alert.Alert(alert.Props{Variant: alert.VariantDestructive, Class: "mb-4"}) {
						@alert.Description() {
							{ formError }
						}
					}
				}
				<form method="post" action="/login" class="flex flex-col gap-4">
					@form.Item() {
						@form.Label(form.LabelProps{For: "username"}) {
							{ i18n.T(loc, "login.username_label") }
						}
						@input.Input(input.Props{
							ID:       "username",
							Name:     "username",
							Value:    username,
							Required: true,
							HasError: len(fieldErrors["Username"]) > 0,
						})
						for _, msg := range fieldErrors["Username"] {
							@form.Message(form.MessageProps{Variant: form.MessageVariantError}) {
								{ i18n.T(loc, msg) }
							}
						}
					}
					@form.Item() {
						@form.Label(form.LabelProps{For: "password"}) {
							{ i18n.T(loc, "login.password_label") }
						}
						@input.Input(input.Props{
							ID:       "password",
							Name:     "password",
							Type:     input.TypePassword,
							Required: true,
							HasError: len(fieldErrors["Password"]) > 0,
						})
						for _, msg := range fieldErrors["Password"] {
							@form.Message(form.MessageProps{Variant: form.MessageVariantError}) {
								{ i18n.T(loc, msg) }
							}
						}
					}
					@button.Button(button.Props{Type: button.TypeSubmit, FullWidth: true}) {
						{ i18n.T(loc, "login.submit") }
					}
				</form>
			}
		}
	}
}
