package pages

import (
	"github.com/FortiBrine/VoidShift/internal/i18n"
	"github.com/FortiBrine/VoidShift/view/components/ui/button"
	"github.com/FortiBrine/VoidShift/view/components/ui/card"
	"github.com/FortiBrine/VoidShift/view/layouts"
)

templ NotFound(loc *i18n.Localizer) {
	@layouts.Auth(i18n.T(loc, "not_found.title")) {
		@card.Card() {
			@card.Header() {
				@card.Title() {
					404
				}
				@card.Description() {
					{ i18n.T(loc, "not_found.description") }
				}
			}
			@card.Content() {
				@button.Button(button.Props{Href: "/", FullWidth: true}) {
					{ i18n.T(loc, "not_found.home_button") }
				}
			}
		}
	}
}
